@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.modal-shadow {
  box-shadow: inset 0px 8px 12px 0px rgba(255, 255, 255, 0.04),
    inset 0px 24px 64px -16px rgba(0, 0, 0, 0.24),
    inset 16px 24px 64px -24px rgba(255, 255, 255, 0.04);
}
.stat-box-gradient {
  background: linear-gradient(
    117.58deg,
    rgba(215, 237, 237, 0.16) -47.79%,
    #131619 100%
  );
}

.success-icon-shadow {
  filter: drop-shadow(0px 4px 20px #4ac97e29) drop-shadow(0 10px 45px #4ac97e4d);
}
